*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
gradle/
settings.gradle
gradlew
gradle.properties
build.gradle
gradlew.bat
app/proguard-rules.pro
